body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

#gameCanvas {
    border: 2px solid black; /* Thêm dòng này để tạo khung màu đen */
    background-color: #fff;  /* Thay đổi màu nền của canvas nếu cần */
}
